includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - routes/
        - tests/
        - database/

    level: 5

    ignoreErrors:

    excludePaths:

#    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
